name: Rust

on:
  push:
    paths:
    - "**/*.rs"
    - "**/*.yml"
    - "**/*.toml"
  pull_request:
    paths:
    - "**/*.rs"
    - "**/*.yml"
    - "**/*.toml"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        rust: [stable]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Build
      run: cargo test --verbose
  test_ubuntu_install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
    - name: Run install steps
      run: sudo apt-get install xorg-dev libxcb1-dev
    - name: Test bookstore with copypaste
      run: cargo +nightly test -Z package-features --features bookstore-tui/copypaste
  fmt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Formatting
      run: rustup component add rustfmt && cargo fmt -- --check
  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Run clippy
      run: rustup component add clippy && cargo clippy
